<footer>
    <div class="footer-up">
        <div class="logo">
            <p class="logo-text">Plankton.ge</p>
        </div>

        <div class="text">ჩვენს გალერეაში 409 მხატვარი და 4354 რობოტია</div>
    </div>


    <div class="footer-middle">
        <div class="ul">
            <ul class="service-list">
                <li class="service">კატალოგი</li>
                <li class="service">მხატვრები</li>
                <li class="service">გალერიის შესახებ</li>
                <li class="service">მომსახურეობა</li>
            </ul>


            <ul class="service-list">
                <li class="service">თანამშრომლობა</li>
                <li class="service">სიახლეები</li>
                <li class="service">კონტაქტი</li>
                <li class="service">ASKERI გელერეა</li>
            </ul>


            <ul class="service-list">
                <li class="service">გადახდის მეთოდები</li>
                <li class="service">დაბრუნებისა და მიწოდების პირობები </li>
                <li class="service">პერსონალური მონაცემების პოლიტიკა</li>
                <li class="service">შეთავაზების შეთანხმება</li>
            </ul>
        </div>

        <div class="subscribe">
            <p class="subs-text">გამოიწერეთ სიახლეები და აქციები Plankton.ge - ისგან</p>
            <div class="email">
                <input class="email-inp" type="email" placeholder="Email">
                <button class="submit-btn">გაგზავნა</button>
            </div>

            <div class="submit-info">
                <input type="checkbox">
                <p class="agree">ვეთანხმები <span class="agree-rules"> კონფიდენციალურობის პოლიტიკის</span> პირობებს</p>
            </div>
        </div>

    </div>

    <ul class="service-list-mobile">
        <li class="service-mobile">გადახდის მეთოდები</li>
        <li class="service-mobile">დაბრუნებისა და მიწოდების პირობები </li>
        <li class="service-mobile">პერსონალური მონაცემების პოლიტიკა</li>
        <li class="service-mobile">შეთავაზების შეთანხმება</li>
    </ul>

    <div class="footer-down"></div>
</footer>