<!-- alerts -->
<div class="top-alert" 
     [class.show]="showAlert" 
     [ngClass]="{
       'alert-success': alertType === 'success',
       'alert-error': alertType === 'error',
       'alert-warning': alertType === 'warning'
     }">
  {{ alertMessage }}
</div>

<section class="auth-section">
    <div *ngIf="!ifRegistering" class="login">
        <p class="login-text">შესვლა</p>

        <div class="logining">
            <p>მეილი </p>
            <input ngModel type="text" [(ngModel)]="loginUsername">
        </div>

        <div class="logining">
            <p>პაროლი:</p>
            <input type="password" [(ngModel)]="loginPassword">
        </div>

        <div class="checkbox-div">
            <input type="checkbox">
            <p>დამიმახსოვრე</p>
        </div>

        <button (click)="login()" class="login-btn">შესვლა</button>

        <div class="other-options">
            <p (click)="toggleRegistering()">რეგისტრაცია</p>
            <p>დაგავიწტდათ პაროლი?</p>
        </div>
    </div>

    <div *ngIf="!ifRegistering" class="register">
        <p class="register-text">რეგისტრაცია</p>

        <div class="register-options">
            <p>შეკვეთების ისტორიის ნახვა</p>
            <p>სწრაფი შეძენა</p>
            <p>შეცვლა და საქონლის დაბრუნება</p>
        </div>

        <button (click)="toggleRegistering()" class="register-btn">გაგრძელება</button>
    </div>

    <div *ngIf="ifRegistering" class="register-form">
        <p class="register-text">რეგისტრაცია</p>

        <div class="input-container">
            <div class="input-wrapper">
                <input type="text" [(ngModel)]="personalNumber" [class.has-value]="personalNumber" id="personalNumber">
                <span class="floating-label">პირადი ნომერი*</span>
            </div>

            <div class="input-wrapper">
                <input type="text" [(ngModel)]="name" [class.has-value]="name" id="name">
                <span class="floating-label">სახელი*</span>
            </div>

            <div class="input-wrapper">
                <input type="text" [(ngModel)]="lastName" [class.has-value]="lastName" id="lastName">
                <span class="floating-label">გვარი*</span>
            </div>

            <div class="input-wrapper">
                <input type="text" [(ngModel)]="username" [class.has-value]="username" id="username">
                <span class="floating-label">userName*</span>
            </div>

            <div class="input-wrapper">
                <input type="text" [(ngModel)]="email" [class.has-value]="email" id="email">
                <span class="floating-label">ელ. ფოსტა*</span>
            </div>

            <div class="input-wrapper">
                <input type="text" [(ngModel)]="phone" [class.has-value]="phone" id="phone">
                <span class="floating-label">ტელეფონი*</span>
            </div>

            <div class="input-wrapper">
                <input type="password" [(ngModel)]="password" [class.has-value]="password" id="password">
                <span class="floating-label">პაროლი*</span>
            </div>

            <div class="input-wrapper">
                <input type="password" [(ngModel)]="confirmPassword" [class.has-value]="confirmPassword" id="confirmPassword">
                <span class="floating-label">პაროლის დადასტურება*</span>
            </div>

            <button type="button" class="register-btn" (click)="Register()">რეგისტრაცია</button>
        </div>

        <p class="register-agreement">
            ღილაკზე დაწკაპუნებით, თქვენ ეთანხმებით პერსონალური მონაცემების დამუშავებას
            <span class="highlight">პერსონალური მონაცემების დამუშავების პოლიტიკის შესაბამისად.</span>
        </p>

        <p (click)="returnToLogin()" class="alreadyHaveAcc">უკვე გაქვთ ანგარიში?</p>
    </div>
</section>