<section class="arters">
    <div class="up-content">
        <p class="title">მხატვრები</p>
        <div class="digits">
            <p class="digit">ა</p>
            <p class="digit">ბ</p>
            <p class="digit">გ</p>
            <p class="digit">დ</p>
            <p class="digit">ე</p>
            <p class="digit">ვ</p>
            <p class="digit">ზ</p>
            <p class="digit">თ</p>
            <p class="digit">ი</p>
            <p class="digit">კ</p>
            <p class="digit">ლ</p>
            <p class="digit">მ</p>
            <p class="digit">ნ</p>
            <p class="digit">ო</p>
            <p class="digit">პ</p>
            <p class="digit">ჟ</p>
            <p class="digit">რ</p>
            <p class="digit">ს</p>
            <p class="digit">ტ</p>
            <p class="digit">უ</p>
            <p class="digit">ფ</p>
            <p class="digit">ქ</p>
            <p class="digit">დ</p>
            <p class="digit">ყ</p>
            <p class="digit">შ</p>
            <p class="digit">ჩ</p>
            <p class="digit">ც</p>
            <p class="digit">ძ</p>
            <p class="digit">წ</p>
            <p class="digit">ჭ</p>
            <p class="digit">ხ</p>
            <p class="digit">ჯ</p>
            <p class="digit">ჰ</p>
        </div>

    </div>

    <div class="artists">
        <div class="each-card">
            <p class="arter-name">პოპოვა ელიზავეტა</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/b3f/350_350_0/o6w20sa9axwowl0yo5k6tfk03tf8r1p2.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">მანეკენი 1</p>
                        <p class="size">1.6 x 6.5 cm</p>
                        <p class="made-with">ფაიფური</p>
                    </div>
                    <p class="price">15 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/96d/350_350_0/6zvdwhsn2rihoto4a7ilj4of5zz8s50e.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">მანეკენი 2</p>
                        <p class="priceSmall">15 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/9b3/350_350_0/573oktc6sv06dub5zzca7s713ezy8ja0.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">მანეკენი 3</p>
                        <p class="priceSmall">15 000$</p>
                    </div>
                </div>

            </div>
        </div>









        <div class="each-card">
            <p class="arter-name">გროშნიკოვი ანტონი</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/0a7/350_350_0/b16wabh8i31h0vt7i5hra50ccful7jvs.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">დედა</p>
                        <p class="size">37 x 40 cm</p>
                        <p class="made-with">ქაღალდი</p>
                    </div>
                    <p class="price">40 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/94d/350_350_0/j2gs5prpjojxtwobx984jgoggeet56bv.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შესვენება</p>
                        <p class="priceSmall">30 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/8f0/350_350_0/rolt9lkelga04uul1har43oje2p3y4yn.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შეხედვა</p>
                        <p class="priceSmall">30 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/eea/350_350_0/ylf9aebxfo4k5nhiqau5oe74ragv2i9y.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name"> ლოდინის ტანჯვა</p>
                        <p class="priceSmall">30 000$</p>
                    </div>
                </div>

            </div>
        </div>




        <div class="each-card">
            <p class="arter-name">ფედროვსკაია (ბროდსკაია) ტანია</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/951/350_350_0/9r3elloa6cc1fjqjh0g0ldwaie1jq4ko.jpg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">ხანა და ფედია</p>
                        <p class="size">130 x 130 cm</p>
                        <p class="made-with">ტილო,ზეთი, ქვიშა</p>
                    </div>
                    <p class="price">100 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/b1e/350_350_0/rtvr9c2m1704mukdnfvjn8xy2yis2z22.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">მე და ჩემი პატრონი</p>
                        <p class="priceSmall">180 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/fd0/350_350_0/qx7rg4wwmw98yu2a4pw25z3ufo973568.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">სოფია და გესია დამალობანას თამაშობენ</p>
                        <p class="priceSmall">138 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/bd5/350_350_0/t31cugeg2gm97zmuvb9gr6yzw7o0m60a.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name"> მოსე მოვიდა</p>
                        <p class="priceSmall">180 000$</p>
                    </div>
                </div>

            </div>




        </div>








        <div class="each-card">
            <p class="arter-name">ლასკოვა ირინა</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/d67/350_350_0/hmjxhlfpxk2tmyqg5km1av005tlzdvql.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">მთვარის შუქში</p>
                        <p class="size">80 x 80 cm</p>
                        <p class="made-with">ხე, აკრილი, ოქროს ფოთოლი, პასტელი</p>
                    </div>
                    <p class="price">300 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/978/350_350_0/blr1039cyjc87qu03hpd83o3npsa3erw.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შემოდგომა სერიიდან "4 სეზონი. 4 სული"</p>
                        <p class="priceSmall">300 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/46b/350_350_0/46irhcda02ejz8k4zrl0kq1klytobxec.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">ნოემბრის დასასრული</p>
                        <p class="priceSmall">300 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/548/350_350_0/2q8ub2q6ki23lwr3bm4uokw343ri30z1.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name"> ზამთარი სერიიდან "4 სეზონი. 4 სული"</p>
                        <p class="priceSmall">300 000$</p>
                    </div>
                </div>

            </div>



        </div>














        <div class="each-card">
            <p class="arter-name">ბოგდანოვა მარია</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/8f9/350_350_0/02m8vk8tz2air4z0chisjmdjqa9jx4gx.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">შიშველი ყავისფერის ფერებში</p>
                        <p class="size">21 x 28 cm</p>
                        <p class="made-with">აკვარელი, ქაღალდი</p>
                    </div>
                    <p class="price">10 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/bd0/350_350_0/8an0u3vowjto24k4u182jnaky2eskcde.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შიშველი განათებაში</p>
                        <p class="priceSmall">10 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/4f5/350_350_0/ic5lfexkzyjaff20e9oz1vicdrrs2u1w.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შიშველი ჩარჩოთი 2</p>
                        <p class="priceSmall">10 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/41f/350_350_0/cunht84k8ch2q9o5ux664zf5k88pw313.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name"> ვარდისფერი შიშველი</p>
                        <p class="priceSmall">10 000$</p>
                    </div>
                </div>

            </div>



        </div>
















        <div class="each-card">
            <p class="arter-name">კოლესოვა ვალენტინა</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/34b/350_350_0/uzi72vd7cbp6fbc7mi79r482li8robk3.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">ყვავილოვანი იერი №5</p>
                        <p class="size">50 x 60 cm</p>
                        <p class="made-with">აკრილი, ტილო</p>
                    </div>
                    <p class="price">43 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/c7a/350_350_0/84dkcob738k07veb68gid4e5aek9q0r9.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">ღრუბლებს ზემოთ №1</p>
                        <p class="priceSmall">56 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/470/350_350_0/9mayhhaetchm1ctwixj68cbpsgzf14ck.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">ღრუბლებს ზემოთ №2</p>
                        <p class="priceSmall">56 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/454/350_350_0/495prr8iqvwogg0gnvvfr2oyskthmtc0.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">ყვავილოვანი იერი №6</p>
                        <p class="priceSmall">56 000$</p>
                    </div>
                </div>

            </div>









        </div>










        <div class="each-card">
            <p class="arter-name">პოპოვა ელიზავეტა</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/b3f/350_350_0/o6w20sa9axwowl0yo5k6tfk03tf8r1p2.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">მანეკენი 1</p>
                        <p class="size">1.6 x 6.5 cm</p>
                        <p class="made-with">ფაიფური</p>
                    </div>
                    <p class="price">15 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/96d/350_350_0/6zvdwhsn2rihoto4a7ilj4of5zz8s50e.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">მანეკენი 2</p>
                        <p class="priceSmall">15 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/9b3/350_350_0/573oktc6sv06dub5zzca7s713ezy8ja0.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">მანეკენი 3</p>
                        <p class="priceSmall">15 000$</p>
                    </div>
                </div>

            </div>
        </div>









        <div class="each-card">
            <p class="arter-name">გროშნიკოვი ანტონი</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/0a7/350_350_0/b16wabh8i31h0vt7i5hra50ccful7jvs.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">დედა</p>
                        <p class="size">37 x 40 cm</p>
                        <p class="made-with">ქაღალდი</p>
                    </div>
                    <p class="price">40 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/94d/350_350_0/j2gs5prpjojxtwobx984jgoggeet56bv.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შესვენება</p>
                        <p class="priceSmall">30 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/8f0/350_350_0/rolt9lkelga04uul1har43oje2p3y4yn.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შეხედვა</p>
                        <p class="priceSmall">30 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/eea/350_350_0/ylf9aebxfo4k5nhiqau5oe74ragv2i9y.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name"> ლოდინის ტანჯვა</p>
                        <p class="priceSmall">30 000$</p>
                    </div>
                </div>

            </div>
        </div>




        <div class="each-card">
            <p class="arter-name">ფედროვსკაია (ბროდსკაია) ტანია</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/951/350_350_0/9r3elloa6cc1fjqjh0g0ldwaie1jq4ko.jpg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">ხანა და ფედია</p>
                        <p class="size">130 x 130 cm</p>
                        <p class="made-with">ტილო,ზეთი, ქვიშა</p>
                    </div>
                    <p class="price">100 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/b1e/350_350_0/rtvr9c2m1704mukdnfvjn8xy2yis2z22.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">მე და ჩემი პატრონი</p>
                        <p class="priceSmall">180 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/fd0/350_350_0/qx7rg4wwmw98yu2a4pw25z3ufo973568.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">სოფია და გესია დამალობანას თამაშობენ</p>
                        <p class="priceSmall">138 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/bd5/350_350_0/t31cugeg2gm97zmuvb9gr6yzw7o0m60a.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name"> მოსე მოვიდა</p>
                        <p class="priceSmall">180 000$</p>
                    </div>
                </div>

            </div>




        </div>








        <div class="each-card">
            <p class="arter-name">ლასკოვა ირინა</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/d67/350_350_0/hmjxhlfpxk2tmyqg5km1av005tlzdvql.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">მთვარის შუქში</p>
                        <p class="size">80 x 80 cm</p>
                        <p class="made-with">ხე, აკრილი, ოქროს ფოთოლი, პასტელი</p>
                    </div>
                    <p class="price">300 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/978/350_350_0/blr1039cyjc87qu03hpd83o3npsa3erw.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შემოდგომა სერიიდან "4 სეზონი. 4 სული"</p>
                        <p class="priceSmall">300 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/46b/350_350_0/46irhcda02ejz8k4zrl0kq1klytobxec.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">ნოემბრის დასასრული</p>
                        <p class="priceSmall">300 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/548/350_350_0/2q8ub2q6ki23lwr3bm4uokw343ri30z1.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name"> ზამთარი სერიიდან "4 სეზონი. 4 სული"</p>
                        <p class="priceSmall">300 000$</p>
                    </div>
                </div>

            </div>



        </div>














        <div class="each-card">
            <p class="arter-name">ბოგდანოვა მარია</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/8f9/350_350_0/02m8vk8tz2air4z0chisjmdjqa9jx4gx.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">შიშველი ყავისფერის ფერებში</p>
                        <p class="size">21 x 28 cm</p>
                        <p class="made-with">აკვარელი, ქაღალდი</p>
                    </div>
                    <p class="price">10 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/bd0/350_350_0/8an0u3vowjto24k4u182jnaky2eskcde.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შიშველი განათებაში</p>
                        <p class="priceSmall">10 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/4f5/350_350_0/ic5lfexkzyjaff20e9oz1vicdrrs2u1w.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">შიშველი ჩარჩოთი 2</p>
                        <p class="priceSmall">10 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/41f/350_350_0/cunht84k8ch2q9o5ux664zf5k88pw313.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name"> ვარდისფერი შიშველი</p>
                        <p class="priceSmall">10 000$</p>
                    </div>
                </div>

            </div>



        </div>
















        <div class="each-card">
            <p class="arter-name">კოლესოვა ვალენტინა</p>

            <div class="big-image">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/34b/350_350_0/uzi72vd7cbp6fbc7mi79r482li8robk3.jpeg"
                    alt="">

                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">ყვავილოვანი იერი №5</p>
                        <p class="size">50 x 60 cm</p>
                        <p class="made-with">აკრილი, ტილო</p>
                    </div>
                    <p class="price">43 000$</p>
                </div>
            </div>

            <div class="small-images">

                <div class="smallImage1">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/c7a/350_350_0/84dkcob738k07veb68gid4e5aek9q0r9.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">ღრუბლებს ზემოთ №1</p>
                        <p class="priceSmall">56 000$</p>
                    </div>
                </div>

                <div class="smallImage2">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/470/350_350_0/9mayhhaetchm1ctwixj68cbpsgzf14ck.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">ღრუბლებს ზემოთ №2</p>
                        <p class="priceSmall">56 000$</p>
                    </div>
                </div>


                <div class="smallImage3">
                    <img src="https://artonline24.ru/upload/resize_cache/iblock/454/350_350_0/495prr8iqvwogg0gnvvfr2oyskthmtc0.jpeg"
                        alt="">
                    <div class="product-text">
                        <p class="art-name">ყვავილოვანი იერი №6</p>
                        <p class="priceSmall">56 000$</p>
                    </div>
                </div>

            </div>









        </div>
















    </div>
</section>