<section class="cart-section">
    <div class="ifIsEmpty" *ngIf="cartIsEmpty">
        <i class="ri-shopping-cart-line"></i>
        <p class="cart-empty-text">თქვენი კალათა ცარიელია</p>
        <p routerLink="/" class="continiue-shopping">დააჭირეთ აქ რათა გააგრძელოთ შოპინგი</p>
    </div>


    <div *ngIf="ifIsFull" class="ifFull">
        <p class="cart-text">კალათა</p>
        <div class="all-products">
            <div *ngFor="let product of cartItems" class="products">

                <div class="product-left">

                    <div class="left">

                        <img [src]="product.image" alt="">

                        <div class="product-info">
                            <p [routerLink]="['/product', product.id]" class="title">დასახელება: {{product.title}}</p>
                            <p class="style">სტილი: {{product.style}}</p>
                            <p [routerLink]="['/eachArter', product.artist_id]" class="artist">ავტორი: <span
                                    class="artist-name">{{product.artist_name}}</span> </p>
                            <p class="size">ზომა: {{product.width_cm}} x {{product.height_cm}}</p>
                        </div>

                    </div>

                    <div class="right-content">

                    </div>
                    <div class="right">
                        <div class="product-buttons">
                            <div><svg class="heart" xmlns="http://www.w3.org/2000/svg" width="27" height="25"
                                    viewBox="0 0 27 25" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.984 3.96232C9.83722 1.96664 6.47837 2.01364 4.38868 4.10333L4.18691 4.3051C1.93769 6.55432 1.9377 10.201 4.18693 12.4502L4.18837 12.4517L12.9543 21.265L21.8748 12.4357C24.1372 10.1964 24.1466 6.54423 21.8957 4.29339C19.653 2.05071 16.0169 2.05071 13.7742 4.29339L8.16013 9.9075L7.09947 8.84684L11.984 3.96232ZM13.0561 2.91139C10.3235 0.319837 6.00709 0.363597 3.32802 3.04267L3.12625 3.24444C0.291534 6.07916 0.291252 10.675 3.1254 13.51C3.12569 13.5103 3.12599 13.5106 3.12628 13.5109L12.4184 22.8532L12.946 23.3837L13.4777 22.8574L22.93 13.5018C25.7833 10.6777 25.7951 6.07149 22.9564 3.23273C20.2394 0.51577 15.9009 0.408654 13.0561 2.91139Z"
                                        fill="black"></path>
                                </svg></div>

                            <div (click)="removeFromCart(product.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="delete-btn" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
                                    </path>
                                </svg>
                            </div>
                        </div>

                        <div class="price">
                            <p class="product-price">{{product.price}} $</p>
                        </div>
                    </div>



                </div>

            </div>
        </div>

        <div class="total-price">
            <div>
                <p></p>
                <p></p>
            </div>

            <div>
                <div>
                    <p></p>
                    <input type="text">
                </div>

                <div></div>
            </div>

            <button></button>

            <div>
                <!-- svg -->
                <p></p>
            </div>

        </div>

    </div>


</section>