<section>
    <div class="whole-content">
        <p class="help">მომსახურეობა</p>

        <div class="accordion">
            <div class="accordion-item" *ngFor="let item of accordionItems; let i = index">
                <div class="accordion-title" [class.centered]="isOpen(i)" (click)="toggleAccordion(i)">
                    <span class="title-text">{{ item.title }}</span>
                    <svg class="arrow-icon" [class.rotated]="isOpen(i)" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content" [class.open]="isOpen(i)">
                    <div class="accordion-content-inner">
                        <div class="img" *ngIf="item.img">
                            <img [src]="item.img" alt="{{ item.title }}">
                        </div>
                        <p class="content-text">{{ item.content }}</p>
                    </div>
                </div>
            </div>

            <div class="next-stage">
                <p class="help">თანამშრომლობა</p>
                <p class="comm-text">თანამშრომლობისთვის ვიწვევთ მხატვრებს, ფოტოგრაფებსა და მოქანდაკეებს, ხელოვნების
                    გალერეებს, ინტერიერის დიზაინერებს და ხელოვნების დიზაინის სფეროს პროფესიონალებს.</p>
            </div>

            <div class="accordion-item" *ngFor="let item of collaborationItems; let i = index">
                <div class="accordion-title" [class.centered]="isOpen(i + accordionItems.length)" (click)="toggleAccordion(i + accordionItems.length)">
                    <span class="title-text">{{ item.title }}</span>
                    <svg class="arrow-icon" [class.rotated]="isOpen(i + accordionItems.length)" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content" [class.open]="isOpen(i + accordionItems.length)">
                    <div class="accordion-content-inner">
                        <p class="content-text">{{ item.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>