<section>
    <div class="whole-content">
        <p class="help">მომსახურეობა</p>

        <div class="accordion">



            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ხელოვნების ნიმუშების შეძენა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="img"><img
                            src="https://artonline24.ru/upload/iblock/0b7/3i0sh4jo5v3pfjt54igdnyf0xue3s4tr.svg"
                            style="height: 100%; max-width: fit-content;"></div>
                    <p class="content-text">ჩვენს გალერეაში "Plankton" შეგიძლიათ შეიძინოთ ონლაინ, გადაიხადოთ
                        მიღებისთანავე ან პირდაპირ გალერეაში თანამედროვე მხატვრებისა და მოქანდაკეების ფერწერა, გრაფიკა,
                        ქანდაკება და ფოტოგრაფია, რომლებიც მუშაობენ როგორც თანამედროვე, ასევე კლასიკურ სტილში. ჩვენი
                        კატალოგი
                        წარმოგიდგენთ ხელოვნების ნიმუშებს ყველა სტილში - რეალიზმიდან, იმპრესიონიზმიდან, მოდერნიზმიდან და
                        სიურეალიზმიდან დაწყებული პოპ-არტით, აბსტრაქტული ხელოვნებით, ჰიპერრეალიზმით, თანამედროვე
                        ხელოვნებითა
                        და სხვა ტენდენციებით დამთავრებული.

                        მიწოდების განყოფილებაში შეგიძლიათ აირჩიოთ თქვენთვის ყველაზე მოსახერხებელი გზა თქვენი შენაძენის
                        მისაღებად.</p>
                </div>
            </div>




            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ხელოვნების ნიმუშების შერჩევა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="img"><img
                            src="https://artonline24.ru/upload/iblock/0dc/vfl5tmqq6rv8mmu51z9bq5ok0rwn3cz1.svg"
                            style="height: 100%; max-width: fit-content;"></div>
                    <p class="content-text">გალერეა „Plankton“-თან თანამშრომლობით პროფესიონალი კურატორები
                        დაგეხმარებიან კერძო ან კორპორატიული კოლექციის ფორმირებაში, ასევე კერძო ინტერიერების,
                        საზოგადოებრივი სივრცეებისა და ოფისების გასაფორმებლად ხელოვნების ნიმუშების შერჩევაში. შეგიძლიათ
                        გამოგვიგზავნოთ ინტერიერის ფოტოები ან დანიშნოთ პირადი შეხვედრა თქვენთვის მოსახერხებელ დროს და
                        ჩვენ შევარჩევთ თქვენთვის საუკეთესო ნამუშევრებს.</p>
                </div>
            </div>


            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ნახატებისა და გრაფიკის ჩარჩოებში ჩასმა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="img"><img
                            src="https://artonline24.ru/upload/iblock/3f3/1rtdlupddv7acuo4z41h213km7ec5fn4.svg"
                            style="height: 100%; max-width: fit-content;"></div>
                    <p class="content-text">ჩვენთან შეგიძლიათ შეუკვეთოთ შეძენილი ნამუშევრების პროფესიონალური ჩარჩოები,
                        მათ შორის ისეთი ნამუშევრები, რომლებიც პირდაპირ შეესაბამება თქვენი სახლის სტილს. შეგიძლიათ
                        გამოგვიგზავნოთ იმ ინტერიერის ფოტოები, რომელშიც ნამუშევრები განთავსდება, ან შეუკვეთოთ ვიზიტი
                        ჩვენი სპეციალისტისგან და ჩვენ შეგირჩევთ საუკეთესო დიზაინს.</p>
                </div>
            </div>




            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ჩამოკიდება, განათება და ტრანსპორტირება</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="img"><img
                            src="https://artonline24.ru/upload/iblock/f42/d7kuhrxxr46116ew2sbi4gnpkg9csd31.svg"
                            style="height: 100%; max-width: fit-content;"></div>
                    <p class="content-text">ჩვენი გალერეა ასევე გთავაზობთ ნახატების პროფესიონალურ ჩამოკიდებისა და
                        განათების მომსახურებას, საჭიროების შემთხვევაში კი, შეფუთვისა და ტრანსპორტირების სამუშაოებს,
                        მხოლოდ სპეციალიზებული კომპანიების გამოყენებით, რომლებსაც აქვთ მუზეუმის გამოფენებთან და
                        ექსპონატებთან მუშაობის დიდი გამოცდილება. დაგვიკავშირდით, რათა დაგეგმოთ სპეციალისტის ვიზიტი
                        თქვენთვის მოსახერხებელ დროს.</p>
                </div>
            </div>




            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ინდივიდუალური ნამუშევრების შექმნა და რეპლიკების დამზადება</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="img"><img
                            src="https://artonline24.ru/upload/iblock/cc9/d3a2nd4asnni3whr5hq26kyw05l7ar53.svg"
                            style="height: 100%; max-width: fit-content;"></div>
                    <p class="content-text">ჩვენთან თქვენ შეგიძლიათ არა მხოლოდ შეიძინოთ თქვენთვის სასურველი ნამუშევარი
                        ონლაინ გალერეაში, არამედ შეუკვეთოთ:


                        თქვენი საყვარელი ნახატის ან ჩვენი კატალოგიდან ნამუშევრის ანაბეჭდის ასლი;
                        ფოტოს ავტორის ან გამოცემის ასლი;
                        მხატვრული ან ფოტოპორტრეტი;
                        ნებისმიერი ხელოვნების ნიმუში თქვენი სურვილის შესაბამისად - პეიზაჟებიდან და ქანდაკებებიდან

                        დაწყებული ინტერიერის მხატვრობის მონუმენტურ ნამუშევრებამდე.
                        თქვენ მხოლოდ უნდა გამოაგზავნოთ ბმული იმ ნამუშევარზე, რომელმაც შთაგაგონათ ელექტრონული ფოსტით და
                        ჩვენ შეგირჩევთ ავტორს, რომლის შესრულების სტილიც ყველაზე ახლოს იქნება თქვენთან.</p>
                </div>
            </div>




            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">მიწოდება</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="img"><img
                            src="https://artonline24.ru/upload/iblock/72b/je3zc81cm3gn8iwsi5vevw7vo0mkv86t.svg"
                            style="height: 100%; max-width: fit-content;"></div>
                    <p class="content-text">საჭიროა ზუსტი ინფორმაცია !!!!!!!</p>
                </div>
            </div>





            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">მიწოდება გალერეაში</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="img"><img
                            src="https://artonline24.ru/upload/iblock/3e2/sjtundcjd412jt0yrbaibo5zd6yz7ybv.svg"
                            style="height: 100%; max-width: fit-content;"></div>
                    <p class="content-text">საჭიროა ზუსტი ინფორმაცია !!!!!!!</p>
                </div>
            </div>



            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">მოსინჯვა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="img"><img
                            src="https://artonline24.ru/upload/iblock/286/bo3hvi0bw9aelwybfnvndfh2ojri2sno.svg"
                            style="height: 100%; max-width: fit-content;"></div>
                    <p class="content-text">საჭიროა ზუსტი ინფორმაცია !!!!!!!</p>
                </div>
            </div>

            <div class="next-stage">
                <p class="help">თანამშრომლობა</p>
                <p class="comm-text">თანამშრომლობისთვის ვიწვევთ მხატვრებს, ფოტოგრაფებსა და მოქანდაკეებს, ხელოვნების
                    გალერეებს, ინტერიერის დიზაინერებს და ხელოვნების დიზაინის სფეროს პროფესიონალებს.</p>
            </div>

            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">მხატვრებს</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p class="content-text">Plankton.ge თანამედროვე ხელოვნების გაყიდვების უდიდესი ონლაინ პლატფორმაა
                        საქართველოში. ჩვენ დიდ ყურადღებას ვაქცევთ ავტორების ფრთხილად შერჩევას და ვამაყობთ ჩვენი
                        მხატვრებით.
                        ჩვენთან თანამშრომლობით, შეგიძლიათ დარწმუნებული იყოთ, რომ თქვენი ნამუშევრები წარმოდგენილი იქნება
                        ღირსეულ გარემოში და ჩვენი კურატორები ყველაფერს გააკეთებენ იმისათვის, რომ გალერეის კლიენტებმა მათ
                        დიდი ყურადღება მიაქციონ. თუ გსურთ თქვენი პორტფოლიოს წარდგენა, გამოაგზავნეთ ის ელექტრონულად ან
                        დაგვიკავშირდით ელექტრონული ფოსტით ან ტელეფონით +995 555-976-925 პირადი შეხვედრის დასანიშნად.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ინტერიერის დიზაინერებს</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p class="content-text">ჩვენს კურატორებს უნიკალური გამოცდილება აქვთ როგორც ხელოვნების, ასევე
                        ინტერიერის დიზაინის სფეროში. ჩვენ სიამოვნებით დაგეხმარებით თქვენი პროექტებისთვის ნამუშევრების
                        შერჩევაში და ასევე უზრუნველვყოფთ ნამუშევრების პროფესიონალურ დიზაინს, მიწოდებას, ჩამოკიდებას და
                        განათებას. ჩვენი კურატორები მზად არიან შეარჩიონ ნამუშევრები თქვენი ინტერიერისთვის პროექტის,
                        ფოტოგრაფიის ან თქვენთვის მოსახერხებელ დროს ადგილზე ვიზიტის საფუძველზე. გარდა ამისა, ჩვენ
                        ვთანამშრომლობთ მონუმენტურ მხატვრებთან, რომელთაგანაც შეგიძლიათ შეუკვეთოთ ინტერიერის მოხატვა.
                        შეგიძლიათ დაგვიკავშირდეთ ტელეფონით +995 555-976-925 ან პირდაპირ ჩვენს გალერეაში.
                    </p>
                </div>

            </div>

            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">პარტნიორებს</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p class="content-text">თანამშრომლობისთვის ვიწვევთ ხელოვნების ნიმუშების ჩამოკიდების, განათების,
                        ჩარჩოების დამზადებისა და რესტავრაციის სპეციალისტებს, ასევე სპეციალიზებულ სატრანსპორტო
                        კომპანიებსა და ფოტოლაბორატორიებს ხელოვნების ნიმუშების ბეჭდვისთვის. გამოგვიგზავნეთ თქვენი
                        წინადადება ელექტრონული ფოსტით და ჩვენ აუცილებლად დაგიკავშირდებით.
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">გალერეებს</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p class="content-text">ონლაინ გალერეა Planktion.ge ასევე მუშაობს როგორც ხელოვნების გალერეების
                        პორტალი. თუ დამოუკიდებელი ონლაინ გაყიდვები თქვენი გალერეისთვის პრიორიტეტს არ წარმოადგენს, რადგან
                        ისინი დამატებით ინვესტიციებსა და სპეციალისტებს საჭიროებენ, ან თქვენ სხვა ქალაქში იმყოფებით, ჩვენ
                        სიამოვნებით შემოგთავაზებთ ჩვენს ონლაინ გაყიდვების შესაძლებლობებს. ჩვენი ფართო კავშირები
                        კოლექციონერებთან და ინტერიერის დიზაინერებთან ხელოვნების ნიმუშების გაყიდვის ახალ შესაძლებლობებს
                        მოგცემთ. ჩვენ ყურადღებით ვარჩევთ ჩვენს პარტნიორ გალერეებს და გარანტიას გაძლევთ, რომ თქვენი
                        ექსკლუზიურობა დაცული იქნება მხატვრების პორტფოლიოებთან მუშაობისას. თუ გსურთ თქვენი გალერეის
                        პორტფოლიოს წარდგენა, გთხოვთ, გამოაგზავნოთ იგი ელექტრონულად ან დაგვიკავშირდეთ ელექტრონული ფოსტით
                        ან ტელეფონით  +995 555-976-925 ნომერზე პირადი შეხვედრის დასანიშნად.
                    </p>
                </div>
            </div>

        </div>
    </div>

</section>