<!-- alerts -->
<div class="top-alert" [class.show]="showAlert" [ngClass]="{
       'alert-success': alertType === 'success',
       'alert-error': alertType === 'error',
       'alert-warning': alertType === 'warning'
     }">
    {{ alertMessage }}
</div>














<section class="personal-section">

    <div class="private-info">
        <p class="section-title">პირადი ინფორმაცია</p>
        <div class="section-line"></div>
    </div>

    <div class="mobile-private-info" (click)="openSideMenu()">
        <i class="ri-arrow-left-s-line"></i>
        <span>პირადი ინფორმაცია</span>
    </div>


    <div class="side-menu-overlay" *ngIf="sideMenuOpen" (click)="closeSideMenu()"></div>

    <!-- Side Menu -->
    <div class="side-menu" [class.open]="sideMenuOpen">
        <button class="close-btn" (click)="closeSideMenu()">×</button>
        <!-- Side menu content here -->
        <ul>
            <li>
                <a routerLink="/personal" routerLinkActive="activeRout" [routerLinkActiveOptions]="{exact: true}">
                    პირადი ინფორმაცია
                    <svg viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a routerLink="/personal/offers" routerLinkActive="activeRout"
                    [routerLinkActiveOptions]="{exact: true}">
                    თქვენ მოგეწონებათ
                    <svg viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a routerLink="/personal/orders" routerLinkActive="activeRout"
                    [routerLinkActiveOptions]="{exact: true}">
                    თქვენი შეკვეთები
                    <svg viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a routerLink="/personal/favorites" routerLinkActive="activeRout"
                    [routerLinkActiveOptions]="{exact: true}">
                    გამორჩეული
                    <svg viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </a>
            </li>
            <li (click)="logout()">
                <a> გამოსვლა

                    <svg viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>






    <div class="personal-info">

        <div class="buttons">
            <a routerLink="/personal" routerLinkActive="activeRout" [routerLinkActiveOptions]="{exact: true}">პირადი
                ინფორმაცია</a>
            <a routerLink="/personal/orders" routerLinkActive="activeRout"
                [routerLinkActiveOptions]="{exact: true}">შეკვეთების ისტორია</a>
            <a routerLink="/personal/offers" routerLinkActive="activeRout"
                [routerLinkActiveOptions]="{exact: true}">თქვენ მოგეწონებათ</a>
            <a routerLink="/likedProducts" routerLinkActive="activeRout"
                [routerLinkActiveOptions]="{exact: true}">გამორჩეული</a>
            <a (click)="logout()">გამოსვლა</a>
        </div>





        <div class="info">
            

        </div>
    </div>



</section>