<section class="catalog">
    <div class="overlay" [class.active]="isFilterOpen || isSortOpen" (click)="closePanels()"></div>

    <div class="up-content">
        <button class="filter" (click)="openFilter()">გაფილტვრა</button>
        <p class="catalog-title">კატალოგი</p>
        <button class="sort" (click)="openSort()">დასორტირება</button>
    </div>


    <div class="up-content-mobile">
        <p class="catalog-title">კატალოგი</p>
        <div class="buttons">
            <button class="filter" (click)="openFilter()">გაფილტვრა</button>

            <button class="sort" (click)="openSort()">დასორტირება</button>
        </div>
    </div>

    <div class="side-panel left-panel" [class.active]="isFilterOpen">
        <button class="close-btn" (click)="closePanels()">×</button>
        <p class="filter-text">ფილტრი</p>

        <div class="accordions">
            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ფასი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose">
                        <input type="radio" name="price">
                        <p>300 ლარამდე</p>
                    </div>
                    <div class="price-choose">
                        <input type="radio" name="price">
                        <p>300 - 2000 ლარი</p>
                    </div>
                    <div class="price-choose">
                        <input type="radio" name="price">
                        <p>2000 - 3000 ლარი</p>
                    </div>
                    <div class="price-choose">
                        <input type="radio" name="price">
                        <p>3000 - 5000 ლარი</p>
                    </div>
                    <div class="price-choose">
                        <input type="radio" name="price">
                        <p>5000 - 9000 ლარი</p>
                    </div>
                    <div class="price-choose">
                        <input type="radio" name="price">
                        <p>9000 - 11000 ლარი</p>
                    </div>
                    <div class="price-choose">
                        <input type="radio" name="price">

                        <p>11000 ლარზე მეტი</p>
                    </div>

                </div>
            </div>


            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ხელოვნების ფორმა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ფერწერა</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ბრტყელი ქანდაკება</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ქანდაკება</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ნამუშევარი ქაღალდზე</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ფოტოგრაფია</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>დეკორატიული და გამოყენებითი ხელოვნება</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>სხვა</p>
                    </div>

                </div>
            </div>



            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ხელოვნების სტილი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>აბსტრაქციონიზმი</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>კუბიზმი</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ნატურმორტი</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>პეიზაჟი</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>პორტრეტი</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>პოპ-არტი</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>აქტუალური ხელოვნება</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>გეომეტრიული აბსტრაქციონიზმი</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>რეალიზმი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ჰიპერრეალიზმი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>იმპრესიონიზმი</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>მოდერნიზმი</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>სიურეალიზმი</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ფიგურული ხელოვნება</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ციფრული ხელოვნება</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>მაგიური რეალიზმი</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>პრიმიტიზმი</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>სოცრეალიზმი</p>
                    </div>


                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">მატერიალი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ბერვრი კონტენტია და ახლა არ აქვს აზრი დამატებას: იგივე იქნება რაც ზემოთ</p>
                    </div>


                </div>
            </div>







            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ზომა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>პატარა (30 × 30 CM მდე)</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>
                            საშუალო ( 80 × 80 CM მდე)</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>
                            მსხცვილი ( 80 × 80 CM ზე მეტი)</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>150CM ზე მეტი</p>
                    </div>


                </div>
            </div>








            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ფერი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content-colors">
                    <div class="color-box" [class.active]="selectedColors.has(0)" (click)="toggleColor(0)">
                        <div class="color-cream"></div>
                        <p>კრემისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(1)" (click)="toggleColor(1)">
                        <div class="color-white"></div>
                        <p>თეთრი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(2)" (click)="toggleColor(2)">
                        <div class="color-orange-non"></div>
                        <p>ღია ნარინჯისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(3)" (click)="toggleColor(3)">
                        <div class="color-brinjao"></div>
                        <p>ბრინჯაოსფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(4)" (click)="toggleColor(4)">
                        <div class="color-sky"></div>
                        <p>ცისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(5)" (click)="toggleColor(5)">
                        <div class="color-yellow"></div>
                        <p>ყვითელი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(6)" (click)="toggleColor(6)">
                        <div class="color-green"></div>
                        <p>მწვანე</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(7)" (click)="toggleColor(7)">
                        <div class="color-gold"></div>
                        <p>ოქროსფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(8)" (click)="toggleColor(8)">
                        <div class="color-coffe"></div>
                        <p>ყავისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(9)" (click)="toggleColor(9)">
                        <div class="color-red"></div>
                        <p>წითელი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(10)" (click)="toggleColor(10)">
                        <div class="color-flower"></div>
                        <p>იისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(11)" (click)="toggleColor(11)">
                        <div class="color-orange"></div>
                        <p>ნარინჯისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(12)" (click)="toggleColor(12)">
                        <div class="color-pink"></div>
                        <p>ვარდისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(13)" (click)="toggleColor(13)">
                        <div class="color-green-non"></div>
                        <p>ღია მწვანე</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(14)" (click)="toggleColor(14)">
                        <div class="color-silver"></div>
                        <p>ვერცხლისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(15)" (click)="toggleColor(15)">
                        <div class="color-gray"></div>
                        <p>ნაცრისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(16)" (click)="toggleColor(16)">
                        <div class="color-blue"></div>
                        <p>ლურჯი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(17)" (click)="toggleColor(17)">
                        <div class="color-green-deep"></div>
                        <p>მუქი მწვანე</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(18)" (click)="toggleColor(18)">
                        <div class="color-flower2"></div>
                        <p>იასამნისფერი</p>
                    </div>
                    <div class="color-box" [class.active]="selectedColors.has(19)" (click)="toggleColor(19)">
                        <div class="color-black"></div>
                        <p>შავი</p>
                    </div>
                </div>

            </div>




            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">თემა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>აქტუალური ხელოვნება</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>
                            ქველმოქმედება
                        </p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>
                            ცხოველები</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>სიყვარული</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>მოდერნ</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ახალი</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>პოპ-არტი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>სიუჟეტი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ფიგურატიზმი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ქალაქი</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ბუნება</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>სქესი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>მოდა</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>მისთვის</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>მისთვის (გოგო)</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>მისთვის (ბიჭი)</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>საჩუქარი</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>პორტრეტი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>პეიზაჟი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ნატურმორტი</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>რეალიზმი</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ზღვა</p>
                    </div>



                </div>
            </div>









            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ფორმატი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ჰორიზონტალური</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>
                            ფიგურატიზმი
                        </p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>
                            ვერტიკალური</p>
                    </div>
                    <div class="price-choose">
                        <input type="checkbox">
                        <p>კვადრატი</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>წრე</p>
                    </div>


                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ოვალური</p>
                    </div>

                    <div class="price-choose">
                        <input type="checkbox">
                        <p>დიპტიქი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>პოლიპტიქი</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>სხვა</p>
                    </div>



                    <div class="price-choose">
                        <input type="checkbox">
                        <p>ტრიპტიქი</p>
                    </div>






                </div>
            </div>



        </div>
    </div>

    <div class="side-panel right-panel" [class.active]="isSortOpen">
        <button class="close-btn" (click)="closePanels()">×</button>
        <p class="sort-text">სორტირება</p>
        <div class="line"></div>
        <div class="sorts">
            <p class="sort-types">ორიგინალი</p>
            <p class="sort-types">ჯერ მაღალი ფასი</p>
            <p class="sort-types">ჯერ დაბალი ფასი</p>
            <p class="sort-types">ახლები</p>
        </div>
    </div>








    <div class="product-section">
        <div routerLink="/product" class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/514246569_122180915222582481_8356977830558249603_n.jpg?stp=dst-jpg_p552x414_tt6&_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=R-nPG1APgFgQ7kNvwF944m6&_nc_oc=AdmHhThWe2gcGM3A58amjYpPPst6T2komggHM4oAKD9shxhRkUuEhAwbMVyAZYz_DIg&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=6N8wedGMXMaK9RlH0T3poQ&oh=00_AfWDa-A5lmufERKUZlP1OjSbGADn4yBbb_04jy0stwyqow&oe=689A5AAA"
                alt="">
            <div class="product-info">
                <p class="name">პეიზაჟი</p>
                <p class="arter">თენგიზ მირზაშვილი (1934-2008)</p>
                <p class="size">17,5 x 25 cm</p>
                <p class="theme">მუყაო, ტემპერა</p>
                <p class="price">700 $</p>
            </div>
        </div>




        <div class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/526741232_1063741592624891_7318582264913220880_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=cnOUS4LdbxIQ7kNvwGL0eXy&_nc_oc=AdmUOOsQX7Nb80BibZIxwqkjs8l3L2aOAlzN8f-1a7NcwRof-FZXfy_zrfGF0KagAxE&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=OI7SQB-LQ2kAsb0eDJXVrg&oh=00_AfWGDgwDRH61MzZcSB17V1Tbo09f0qhUt4OnSjsM_i6HPQ&oe=689A5CFA"
                alt="">
            <div class="product-info">
                <p class="name">untitled</p>
                <p class="arter">ნიკო ცეცხლაძე</p>
                <p class="size">40 x 50 cm</p>
                <p class="theme">აქტუალური ხელოვნება, ტილო, ზეთი,</p>
                <p class="price">3 000$</p>
            </div>
        </div>



        <div class="product-card">
            <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t39.30808-6/496940952_1263025322490748_2913949836698697751_n.jpg?stp=dst-jpg_s720x720_tt6&_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=eb-3Jugi5jgQ7kNvwGvrUa2&_nc_oc=AdnajCl-sWEf8X4J7DDwHz1m2uD5GUdBXbV6ofUIlk--CEXLJWEGRp4MXbHQW87FEo8&_nc_zt=23&_nc_ht=scontent.ftbs4-2.fna&_nc_gid=3_aGnFxJwJrWe0boSLhUSA&oh=00_AfUcihObCgv8lO4T9Cehv1c08aCGIKvjuJWPHtbePyOJig&oe=689A3EA1"
                alt="">
            <div class="product-info">
                <p class="name">Fence</p>
                <p class="arter">რამაზ რაზმაძე</p>
                <p class="size">60 x 80 cm</p>
                <p class="theme">რეალიზმი , ტილო</p>
                <p class="price">5 000$</p>
            </div>
        </div>



        <div class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/527740321_1118895396967604_3170277746306497728_n.jpg?stp=dst-jpg_s720x720_tt6&_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=_E62Atio8IAQ7kNvwFaZfHT&_nc_oc=Adm0jiwPfxEeYe38DlxkP3CXCflxVu0CUAHdBr972T-wcXmMh-mE4ZJzBzK5oCc6RPc&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=eNRxLCCYw6MumSTBHfNYAA&oh=00_AfWo4wj9ctEXcJoDdGiEw0vngGHFO3sJPiEIQfHLIrxTcg&oe=689A45D8"
                alt="">
            <div class="product-info">
                <p class="name">დოღი</p>
                <p class="arter">მიხეილ ფანჯიკიძე</p>
                <p class="size">61 x 43 cm</p>
                <p class="theme">ქაღალდი შერეული ტექნიკა</p>
                <p class="price">700 $</p>
            </div>
        </div>


        <div class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/504784960_1021623020170082_6350672831372153459_n.jpg?stp=cp6_dst-jpg_s600x600_tt6&_nc_cat=103&ccb=1-7&_nc_sid=f727a1&_nc_ohc=zRYQXKtDKhUQ7kNvwHYrb48&_nc_oc=AdlSWUuQhkJZRASbDow31vYKRQnoUvon-PRY8smTgPvJqK1jZxUj83AsXH6h2ZxQG-U&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=fQPqWBCoupNUFrIC6_0g0A&oh=00_AfWLoy7mC08lZQN7mfh9Q6fafWYtxOhk15DffKnKTusl2Q&oe=689A5BBF"
                alt="">
            <div class="product-info">
                <p class="name">untitled</p>
                <p class="arter">გრიგოლ ღვანია</p>
                <p class="size">20 x 30 cm</p>
                <p class="theme">აბსტრაქციონიზმი, ტილო</p>
                <p class="price">1 000$</p>
            </div>
        </div>



        <div class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/500546524_1012038017795249_4708303682834292908_n.jpg?stp=cp6_dst-jpg_s600x600_tt6&_nc_cat=107&ccb=1-7&_nc_sid=f727a1&_nc_ohc=ga2jHJrUALkQ7kNvwH8gmwz&_nc_oc=AdkKxFuuwZCV03560_lFekAgdNm1RpfICY3MuSwPpjimCBiO-_m_r1lYAkEavweXmik&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=lW24j27BlBRYse__mstoPg&oh=00_AfWA3eTBgqVD86iuvxz8PlF44x8ty-O5jS925VcCeusxqA&oe=689A6401"
                alt="">
            <div class="product-info">
                <p class="name">untitled</p>
                <p class="arter">ნუცა დუჩიძე</p>
                <p class="size">50 x 40 cm</p>
                <p class="theme">ციფრული ხელოვნება , აკრილი</p>
                <p class="price">180 $</p>
            </div>
        </div>



        <div routerLink="/product" class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/514246569_122180915222582481_8356977830558249603_n.jpg?stp=dst-jpg_p552x414_tt6&_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=R-nPG1APgFgQ7kNvwF944m6&_nc_oc=AdmHhThWe2gcGM3A58amjYpPPst6T2komggHM4oAKD9shxhRkUuEhAwbMVyAZYz_DIg&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=6N8wedGMXMaK9RlH0T3poQ&oh=00_AfWDa-A5lmufERKUZlP1OjSbGADn4yBbb_04jy0stwyqow&oe=689A5AAA"
                alt="">
            <div class="product-info">
                <p class="name">პეიზაჟი</p>
                <p class="arter">თენგიზ მირზაშვილი (1934-2008)</p>
                <p class="size">17,5 x 25 cm</p>
                <p class="theme">მუყაო, ტემპერა</p>
                <p class="price">700 $</p>
            </div>
        </div>




        <div class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/526741232_1063741592624891_7318582264913220880_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=108&ccb=1-7&_nc_sid=f727a1&_nc_ohc=cnOUS4LdbxIQ7kNvwGL0eXy&_nc_oc=AdmUOOsQX7Nb80BibZIxwqkjs8l3L2aOAlzN8f-1a7NcwRof-FZXfy_zrfGF0KagAxE&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=OI7SQB-LQ2kAsb0eDJXVrg&oh=00_AfWGDgwDRH61MzZcSB17V1Tbo09f0qhUt4OnSjsM_i6HPQ&oe=689A5CFA"
                alt="">
            <div class="product-info">
                <p class="name">untitled</p>
                <p class="arter">ნიკო ცეცხლაძე</p>
                <p class="size">40 x 50 cm</p>
                <p class="theme">აქტუალური ხელოვნება, ტილო, ზეთი,</p>
                <p class="price">3 000$</p>
            </div>
        </div>



        <div class="product-card">
            <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t39.30808-6/496940952_1263025322490748_2913949836698697751_n.jpg?stp=dst-jpg_s720x720_tt6&_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=eb-3Jugi5jgQ7kNvwGvrUa2&_nc_oc=AdnajCl-sWEf8X4J7DDwHz1m2uD5GUdBXbV6ofUIlk--CEXLJWEGRp4MXbHQW87FEo8&_nc_zt=23&_nc_ht=scontent.ftbs4-2.fna&_nc_gid=3_aGnFxJwJrWe0boSLhUSA&oh=00_AfUcihObCgv8lO4T9Cehv1c08aCGIKvjuJWPHtbePyOJig&oe=689A3EA1"
                alt="">
            <div class="product-info">
                <p class="name">Fence</p>
                <p class="arter">რამაზ რაზმაძე</p>
                <p class="size">60 x 80 cm</p>
                <p class="theme">რეალიზმი , ტილო</p>
                <p class="price">5 000$</p>
            </div>
        </div>



        <div class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/527740321_1118895396967604_3170277746306497728_n.jpg?stp=dst-jpg_s720x720_tt6&_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=_E62Atio8IAQ7kNvwFaZfHT&_nc_oc=Adm0jiwPfxEeYe38DlxkP3CXCflxVu0CUAHdBr972T-wcXmMh-mE4ZJzBzK5oCc6RPc&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=eNRxLCCYw6MumSTBHfNYAA&oh=00_AfWo4wj9ctEXcJoDdGiEw0vngGHFO3sJPiEIQfHLIrxTcg&oe=689A45D8"
                alt="">
            <div class="product-info">
                <p class="name">დოღი</p>
                <p class="arter">მიხეილ ფანჯიკიძე</p>
                <p class="size">61 x 43 cm</p>
                <p class="theme">ქაღალდი შერეული ტექნიკა</p>
                <p class="price">700 $</p>
            </div>
        </div>


        <div class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/504784960_1021623020170082_6350672831372153459_n.jpg?stp=cp6_dst-jpg_s600x600_tt6&_nc_cat=103&ccb=1-7&_nc_sid=f727a1&_nc_ohc=zRYQXKtDKhUQ7kNvwHYrb48&_nc_oc=AdlSWUuQhkJZRASbDow31vYKRQnoUvon-PRY8smTgPvJqK1jZxUj83AsXH6h2ZxQG-U&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=fQPqWBCoupNUFrIC6_0g0A&oh=00_AfWLoy7mC08lZQN7mfh9Q6fafWYtxOhk15DffKnKTusl2Q&oe=689A5BBF"
                alt="">
            <div class="product-info">
                <p class="name">untitled</p>
                <p class="arter">გრიგოლ ღვანია</p>
                <p class="size">20 x 30 cm</p>
                <p class="theme">აბსტრაქციონიზმი, ტილო</p>
                <p class="price">1 000$</p>
            </div>
        </div>



        <div class="product-card">
            <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/500546524_1012038017795249_4708303682834292908_n.jpg?stp=cp6_dst-jpg_s600x600_tt6&_nc_cat=107&ccb=1-7&_nc_sid=f727a1&_nc_ohc=ga2jHJrUALkQ7kNvwH8gmwz&_nc_oc=AdkKxFuuwZCV03560_lFekAgdNm1RpfICY3MuSwPpjimCBiO-_m_r1lYAkEavweXmik&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=lW24j27BlBRYse__mstoPg&oh=00_AfWA3eTBgqVD86iuvxz8PlF44x8ty-O5jS925VcCeusxqA&oe=689A6401"
                alt="">
            <div class="product-info">
                <p class="name">untitled</p>
                <p class="arter">ნუცა დუჩიძე</p>
                <p class="size">50 x 40 cm</p>
                <p class="theme">ციფრული ხელოვნება , აკრილი</p>
                <p class="price">180 $</p>
            </div>
        </div>

    </div>



    <div class="last-texts">
        <p>Plankton.ge — აქტრუალური და თანამედროვე ხელოვნების ონლაინ გალერეა</p>
        <p>ონლაინ გალერეა plankton-ის კატალოგში შეგიძლიათ აირჩიოთ და შეიძინოთ სხვადასხვა მიმართულების მხატვრების
            ნახატები, გრაფიკა, ქანდაკებები, ხელოვნების ობიექტები, ფოტოები და სხვა ხელოვნების ნიმუშები: რეალიზმიდან
            პოპ-არტით, იმპრესიონიზმიდან თანამედროვე ტენდენციებამდე. ჩვენი კურატორები დაგეხმარებიან თქვენი კოლექციისთვის
            ახალი ნამუშევრების პოვნაში ან ინტერიერისთვის ნახატების შერჩევაში. ჩვენ ვთანამშრომლობთ როგორც ახალგაზრდა
            პერსპექტიულ ავტორებთან, ასევე ცნობილ მხატვრებთან, რომელთა ნამუშევრებიც კერძო კოლექციებსა და მუზეუმებშია
            წარმოდგენილი.</p>
    </div>
</section>