<section class="arter-section">

    <div routerLink="/product" class="left">
        <div class="arrow"> <svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 8 16"
                fill="none">
                <path d="M7 1L1 8L7 15" stroke="black" stroke-opacity="0.6" stroke-linecap="round"></path>
            </svg></div>
        <p>უკან</p>
    </div>



    <div class="arterContent">
        <img src="https://artonline24.ru/upload/iblock/478/zq5rrwefjfcx6vgx8elxjwzl2vcwmrjs.jpeg" alt="">
        <div>
            <p class="name">პოპოვა ელიზავეტა</p>
            <p class="descritpion">კერამიკოსი. მოსკოვი.

                2023 წელს დაამთავრა ს. გ. სტროგანოვის სახელობის რუსეთის სახელმწიფო ხელოვნებისა და მრეწველობის
                უნივერსიტეტი.

                კერამიკაში სხვადასხვა მასალასთან მუშაობს (ფაიფური, შამოტი, წითელი თიხა, ფაიანსი), ასევე მაქმანის
                დამზადებით არის დაკავებული.
                მონაწილეობდა დეკორატიული ხელოვნების სრულიად რუსეთის მუზეუმის პროექტებში, როგორიცაა
                „შესავალი“, „გამოგონილი და დამზადებულია რუსეთში“.</p>
        </div>
    </div>

    <p class="portfolio">პორტფოლიო</p>




    <div class="each-card">



        <div class="small-images">

            <div class="smallImage1">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/96d/350_350_0/6zvdwhsn2rihoto4a7ilj4of5zz8s50e.jpeg"
                    alt="">
                <div class="product-text">
                    <p class="art-name">მანეკენი 1</p>
                    <p class="author">პოპოვა ელიზავეტა</p>
                    <p class="theme">აქტუალური ხელოვნება, ფაიფური</p>
                    <p class="priceSmall">15 000$</p>
                </div>
            </div>

            <div class="smallImage2">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/9b3/350_350_0/573oktc6sv06dub5zzca7s713ezy8ja0.jpeg"
                    alt="">
                <div class="product-text">
                    <p class="art-name">მანეკენი 2</p>
                    <p class="author">პოპოვა ელიზავეტა</p>
                    <p class="theme">აქტუალური ხელოვნება, ფაიფური</p>
                    <p class="priceSmall">15 000$</p>
                </div>
            </div>


            <div class="smallImage3">
                <img src="https://artonline24.ru/upload/resize_cache/iblock/b3f/350_350_0/o6w20sa9axwowl0yo5k6tfk03tf8r1p2.jpeg"
                    alt="">
                <div class="product-text">
                    <p class="art-name">მანეკენი 3</p>
                    <p class="author">პოპოვა ელიზავეტა</p>
                    <p class="theme">აქტუალური ხელოვნება, ფაიფური</p>
                    <p class="priceSmall">15 000$</p>
                </div>
            </div>


        </div>
    </div>



</section>