<section class="arter-section">

    <div routerLink="/product" class="left">
        <div class="arrow"> <svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 8 16"
                fill="none">
                <path d="M7 1L1 8L7 15" stroke="black" stroke-opacity="0.6" stroke-linecap="round"></path>
            </svg></div>
        <p>უკან</p>
    </div>



    <div class="arterContent">
        <img src="https://upload.wikimedia.org/wikipedia/ka/4/47/TengizMirzashvili.jpg" alt="">
        <div>
            <p class="name">თენგიზ მირზაშვილი</p>
            <p class="descritpion">თენგიზ მირზაშვილი დაიბადა 1934 წლის 10 თებერვალს, ზემო სვანეთში, დაბა მესტიაში. 1941
                წელს შევიდა თბილისის მე-7 საშუალო სკოლაში (ახლანდელი გერმანიის საელჩოს შენობა). 1952 წელს ჩააბარა
                სამხატვრო აკადემიაში, ფერწერის ფაკულტეტზე,მესამე კურსიდან თეატრის დეკორაციის ფაკულტეტზე 1959 წელს
                დაამთავრა აკადემია. ასწავლიდა ხატვის კათედრაზე. 1961 წელს ჩააბარა ასპირანტურაში. 1961 წლიდან - სამხატვრო
                აკადემიის პედაგოგია. 1972-2004 წლებში მუშაობდა ბავშვთა სურათების გალერეაში. ითვლება გალერეის ერთ-ერთ
                ფუძემდებლად.</p>
        </div>
    </div>

    <p class="portfolio">პორტფოლიო</p>




    <div class="each-card">



        <div class="small-images">

            <div class="smallImage1">
                <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/514246569_122180915222582481_8356977830558249603_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=R-nPG1APgFgQ7kNvwF944m6&_nc_oc=AdmHhThWe2gcGM3A58amjYpPPst6T2komggHM4oAKD9shxhRkUuEhAwbMVyAZYz_DIg&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=iuaJLQ6rayLDqcgYfBNI3A&oh=00_AfVkcwYRMMSBHCPtCp_OL9mmjuXuxOCDQYk1uQEQnZXMCw&oe=689A5AAA"
                    alt="">
                <div class="product-text">
                    <p class="art-name">'პეიზაჟი'</p>
                    <p class="author">თენგიზ მირზაშვილი (1934-2008)</p>
                    <p class="theme">მუყაო, ტემპერა</p>
                    <p class="priceSmall">700$</p>
                </div>
            </div>

            <div class="smallImage2">
                <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t39.30808-6/524326952_122180915270582481_4977365253275701551_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=ltNUuOD_VrwQ7kNvwF7Q340&_nc_oc=AdlGUCMN05VG3Lu_e88HhAMatfU-bUH5azz-1kNSjDpxSOYkvitNNODSQOr1qYes7lI&_nc_zt=23&_nc_ht=scontent.ftbs4-2.fna&_nc_gid=yopBs4zFiaP7aH56I_Maag&oh=00_AfXnyskbK4A6znTv7d9VRxiaMMksRi1yWfcsAlf4cVLKdA&oe=689A29FF"
                    alt="">
                <div class="product-text">
                    <p class="art-name">'პეიზაჟი'</p>
                    <p class="author">თენგიზ მირზაშვილი (1934-2008)</p>
                    <p class="theme">მუყაო, ტემპერა</p>
                    <p class="priceSmall">650$</p>
                </div>
            </div>


            <div class="smallImage3">
                <img src="https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/514259183_122180915324582481_822458356229010020_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=EMkWsNHtHN8Q7kNvwEFVmm_&_nc_oc=AdmF-zu2w6BzxjPx0aX_T4SIXWd5k8l9vFuNE3YJSEfov35iFhsCg8TMs4wre6luHks&_nc_zt=23&_nc_ht=scontent.ftbs6-2.fna&_nc_gid=g7Xncy7_s5E-upZsAmNavg&oh=00_AfXTQTWlWL6QE_bqUJ-NDCU7J6umX23K2uMcqjfMax7TMQ&oe=689A511B"
                    alt="">
                <div class="product-text">
                    <p class="art-name">'პეიზაჟი'</p>
                    <p class="author">თენგიზ მირზაშვილი (1934-2008)</p>
                    <p class="theme">მუყაო, ტემპერა</p>
                    <p class="priceSmall">600$</p>
                </div>
            </div>

            <div class="smallImage3">
                <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t39.30808-6/525428304_122180915366582481_8051234859918092044_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=CKw2MDSi-eUQ7kNvwGRzcOG&_nc_oc=AdnbodUTZiPKm5i_ywvuOeKHP89WVy6YdcbCbwttwbcQz5e5OBku8KiHjSEgKRmE2-0&_nc_zt=23&_nc_ht=scontent.ftbs4-2.fna&_nc_gid=K6sl9IvAzoYNyIysJrfB1Q&oh=00_AfVR5TZI7seVWzR5hWydixTLTWIZxiQhS3OZejPq9lfkiA&oe=689A56A7"
                    alt="">
                <div class="product-text">
                    <p class="art-name">'პეიზაჟი'</p>
                    <p class="author">თენგიზ მირზაშვილი (1934-2008)</p>
                    <p class="theme">მუყაო, ტემპერა</p>
                    <p class="priceSmall">650$</p>
                </div>
            </div>



            <div class="smallImage3">
                <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t39.30808-6/524792933_122180915414582481_2065086090942015337_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=C6PwEIs3OrIQ7kNvwHhKKgF&_nc_oc=Adl55pfkc9q5RraaNRJfE6jbGpN_e_YQXjfqXwQz36IweoDojCfkTuwTxnGLkvbPCkc&_nc_zt=23&_nc_ht=scontent.ftbs4-2.fna&_nc_gid=vxm7B_NbRoPKQfk4ZBO7zA&oh=00_AfUgziuXpsgQFIHUnSvSQ3YpX_g-CBlVKrtDSs8G3dUFwA&oe=689A23BE"
                    alt="">
                <div class="product-text">
                    <p class="art-name">'პეიზაჟი'</p>
                    <p class="author">თენგიზ მირზაშვილი (1934-2008)</p>
                    <p class="theme">მუყაო, ტემპერა</p>
                    <p class="priceSmall">650$</p>
                </div>
            </div>


             <div class="smallImage3">
                <img src="https://scontent.ftbs4-2.fna.fbcdn.net/v/t39.30808-6/514248387_122180915462582481_1522729978717194470_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=4I2SA6hIQc0Q7kNvwEjc_Hz&_nc_oc=AdlMAGHrTQ1cVFjxLGPrc9Y5sUakZGwK5vr3fjI08KWkwtqesYR3EXnGajjZqcefV_8&_nc_zt=23&_nc_ht=scontent.ftbs4-2.fna&_nc_gid=yICAZounGmzhtdSITU_uQA&oh=00_AfWCqrqUUaIK1RGhBq7BduJtHz_9t9nsMRYlDCF8sn3nvA&oe=689A359E"
                    alt="">
                <div class="product-text">
                    <p class="art-name">'პეიზაჟი'</p>
                    <p class="author">თენგიზ მირზაშვილი (1934-2008)</p>
                    <p class="theme">მუყაო, ტემპერა</p>
                    <p class="priceSmall">600$</p>
                </div>
            </div>


        </div>
    </div>



</section>